<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gran Clase --- Aunque no entendi nada :)</title>
</head>
<body>
   
    <p>Hoy es un gran dia: {{fecha}} </p>


    <h1>Nico---------------</h1>

    <h2>Perez</h2>

    <p>Que gran profesor que me toco :(.... En otro curso, en esto no :(</p>

    <h2>El mejor estudiante es: {{nombre}} </h2>

    <h2>Su nota es: {{nota}} </h2>

    <h1>Simpaticos:</h1> <br>

    {% for estu in estudiantes %}

        {% if estu == 'Nadia'%}

            <p style="color: blue;">{{estu}} </p>

        {% else %}
            <p>{{estu}} </p>
        
        {% endif %}

    {% endfor %}



</body>
</html>